<!DOCTYPE html>
<html>
  <head></head>
  <body>
  <div class="container">
  <div class="row">
    <header></header>
    <article class="content">
      <h1>ツイート投稿内容</h1>
      <%= form_with(model: @twiclo, local: true, url: choose_new_or_edit ) do |form| %>
      <% if @twiclo.errors.any? %>
          <h2>※空白、もしくは140文字以上です。再度入力をしてください。</h2>
      <% end %>
      <div class="row">
      <div class="twiclo_title">
      <div class="col-xs-12 col-md-12">
      <%= form.label :ツイート内容：%>
      <%= form.text_field :content %>
      </div></div>
      <div class="col-xs-12 col-md-12">
      <%= form.submit  "投稿する" %>
    <% end %></div>
    </div>
    </article>
    <br>
　</div>
  </div>
  </body>
</html>