<!DOCTYPE html>
<html>
  <head></head>
  <body>
  <div class="container">
  <div class="row">
  <header>
  </header>
    <article>
    <div class="row">
      <h1 class="content">ツイート一覧</h1>
        <h2><%= notice %></h2>
        <table class="table_menu1">
          <% @twiclos.each do |twiclo| %>
            <tr class="table_menu2">
              <td class="table_menu2"><div class="col-xs-1 col-md-6"><div class="content1"><%= twiclo.content %></div></td></div>
              <td><div class="col-xs-1 col-md-1"><button type="button" class="btn btn-default btn-lg"><%= link_to "編集", edit_twiclo_path(twiclo.id), data: { confirm: '本当に編集していいですか？' } %></button></div></td>
              <td><div class="col-xs-1 col-md-1"><button type="button" class="btn btn-default btn-lg"><%= link_to '削除', twiclo_path(twiclo.id), method: :delete, data: { confirm: '本当に削除していいですか？' }  %></button></div></td>
            </tr>
          <% end %>
          
        </table>
    </article>
    </div>
    <br>
　</div>
  </div>
  </body>
</html>