.main-header {
  margin-top: -20px;
  width: 100%;
  top: 0;
}
.function {
  background-color: #ffffff;
  padding: 10px;
  padding-bottom: 40px;
}

.function-images {
  width: 100%;
  display: table;
  margin-top: 30px;
  table-layout: fixed;
}

.function-image {
  display: table-cell;
  width: 50%;
}