// Place all the styles related to the twiclos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
    height: 100%;
    font-size: 1rem;
}
body{
    width:100%;
    height:100%;
}
.header{
    background-color: #4169e1;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%; 
    display: table;
}
.top_menu li{
    float: left;
    width: auto;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;

}
.top_menu li a{
    color: #fff;
    text-decoration: none;
    padding: 15px;
    font-size: 1.5rem;
    display: table-cell;
}
.top_menu li a:hover{
    text-decoration: underline;
}
.content{
	text-align: center;
}
.table_menu1 {
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #808080;
    border-collapse: collapse;
}
.table_menu2{
    border: solid 1px #808080;
}
.button1{
    background-color:#0000ff;
    border:2px solid #ffffff;
    padding:1px 8px;
    border-radius:5px;
}
.button1 a{
    color: #ffffff;
}
.button2{
    background-color:#d70035;
    border:2px solid #ffffff;
    padding:1px 8px;
    border-radius:5px;
}
.button2 a{
    color: #ffffff;
} 
.footer1{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0px; 
    height: 50px;  
    background-color: #4D4D4D;
    display: table;
}
.footer1 p{
    font-size: 1rem;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}