// Place all the styles related to the twiclos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
    font-size: 1rem;
    min-height: 100%;
    position: relative;
    overflow:auto;
}
body{
    width:100%;
    height:100%;
    margin-bottom: 1em;
    text-align: center;
    overflow: hidden;
}
.navbar-default {
background-color: #4169e1;
}
.navbar-default .navbar-nav > li > a {
color: #ffffff;
}
.container{ 
    width:100%;
    height:100%;
}

.top_menu li{
    float: left;
    width: auto;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.top_menu li a{
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    font-size: 1.5rem;
    display: table-cell;
}
.top_menu li a:hover{
    text-decoration: underline;
}
.content{
	text-align: center;
}
.content1{
	text-align: left;
	width:540px;
	word-break : break-all;
}
.content2{
	text-align: left;
    bottom: 0;
}
.table_menu1 {
    font-size: 1.7rem;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #808080;
    border-collapse: collapse;
}
.table_menu2{
    border: solid 1px #808080;
}
.footer1{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0px; 
    height: 50px;  
    background-color: #4D4D4D;
    display: table;
}
.footer1 p{
    font-size: 1rem;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

